header {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 150px;
  background: #FFFFFF;
  z-index: 10;

  .logo {
    display: block;

    img {
      width: 140px;
      height: 30px;
    }
  }

  .login-part {
    display: flex;

    .sign-in {
      position: relative;
      display: flex;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      margin-right: 20px;
    }

    .sign-in:after {
      content: '';
      -webkit-transition: 0.2s ease-in;
      -moz-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
      position: absolute;
      width: 0;
      height: 2px;
      left: 0;
      bottom: 10px;
      background: #000;
    }

    .sign-in:hover:after {
      width: 100%;
      left: 0;
    }

    .sign-up {
      text-align: center;
      padding: 10px 0;
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  header{
    padding: 25px;

    .login-part{
      .sign-in {
        display: none;
      }
    }
  }
}