.terms-content {
  margin: 100px 0;
  width: 1020px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}